#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.danger {
  color: red;
  font-size: 20px;
  background: rgba(255, 0, 0, 0.199);
  border: 1px solid red;
  border-radius: 5px;
  padding: 5px;
  display: flex;
}

.close {
  text-align: right;
  margin-bottom: 0;
}

.close:hover {
  color: rgba(255, 0, 0, 0.623);
}